.container.double-padding-top
	.row
		.span12
			%h1
				New rebound of:
			= render :partial => "shared/shot_list", :locals => {:c => @from_shot} 
			= form_for(:shot, :url => {:action => 'create', :id => @from_shot.id}, :html => { :multipart => true }) do |f| 
				= render(:partial => 'form', :locals => {:f => f})
				.form-buttons
					= submit_tag("Create", :class=>"btn btn-primary") 