-@shots.in_groups_of(4,false) do |shots|
  .row
    -shots.each do |c| 
      .span3.margin-bottom
        = link_to (c) do
          .well.no-margin-bottom
            = image_tag 'guitar.png'
        %h6
          = link_to c.user.name, c.user


