%h1
    New Shot

= form_for(:shot, :url => {:action => 'create'}) do |f| 
    = render(:partial => 'form', :locals => {:f => f})
    .form-buttons
        = submit_tag("New Shot", :class=>"btn btn-primary") 