.row
	.span12
		%h3
			Search /
			=@search
.row
	.span9
		.page-header
			%h6.no-margin-bottom
				Search results for
				%strong
					=@search
		-if @shots.count > 0
			-@shots.in_groups_of(3,false) do |s|
				.row
					-s.each do |c| 
						= render :partial => 'shared/shot_thumb', :locals => {:c => c}
				= will_paginate @shots 

		-else
			%h3.text-center.muted
				No Shots
	.span3
		.page-header
			%h6.no-margin-bottom
				Artists
		-if @users.count > 0
			-@users.each do |u|
				.half-margin-bottom
					=link_to u do
						%p
							=image_tag u.avatar.url(:thumb)
							=u.name
		-else
			%h5.text-center.muted
				No Artists