.container
  .row
    .span12
      .page-header
        %h3.no-margin-bottom
          Artists
  .row
    .span12
      -@users.each do |u|
        =link_to (u) do
          =u.name
      = will_paginate @users 