.container.double-padding-top
	.row
		.span12
			= render :partial => 'shared/breadcrumb', :locals => {:item => @user, :item_title =>@user.name, :title => @title}



			-@likes.in_groups_of(4,false) do |s|
				.row
					-s.each do |c| 
						= render :partial => 'shared/shot_thumb', :locals => {:c => c}
				= will_paginate @likes 


