- provide(:title, @title)


%h2
  %strong
    = link_to(@user) do
      =@user.name
  \/
  = @title


-if @user.followers.count == 0
  %p.muted
    No Followers
- @user.followers.each do |u|
  =link_to(u) do
    = u.name
    %br