- if current_user.present?
  %ul.shot-controls.inline.no-margin
    %li
      = link_to(new_shot_rebound_path(shot.id, :id => shot.id))do
        %i.icon-circle-arrow-right 
        Rebund
    %li
      -if current_user.voted_up_on? shot
        = link_to({:action => 'un_like_shot', :id => shot.id})do
          %span.liked
            %i.icon-heart
            You like
      -else
        = link_to({:action => 'like_shot', :id => shot.id})do
          %i.icon-heart
          Like?
    -if shot.user.id == current_user.id
      %li
        %a{"data-toggle" => "modal", :href => "#delete", :role => "button"}
          %i.icon-trash 
          Delete
      %li
        = link_to({:action => 'edit', :id => shot.id})do
          %i.icon-cog
          Edit

/ -if shot.rebounds.count > 0
/   = link_to(shot_rebound_path(shot, :id => shot.id)) do
/     %p
/       %strong
/         = shot.rebounds.count
/         -if @shot.rebounds.count == 1
/           Rebound
/         -else
/           Rebounds
/ - if current_user.present?
/   //like button
/   -if current_user.voted_up_on? shot
/     = link_to({:action => 'un_like_shot', :id => shot.id})do
/       %span.liked
/         %i.icon-heart
/         You like
/   -else
/     = link_to({:action => 'like_shot', :id => shot.id})do
/       %i.icon-heart
/       Like?
/   %br
/   = link_to(new_shot_rebound_path(shot.id, :id => shot.id))do
/     %i.icon-circle-arrow-right 
/     Rebound
/   %br
/   -if shot.user.id == current_user.id
/     / Button to trigger modal
/     %a{"data-toggle" => "modal", :href => "#delete", :role => "button"}
/       %i.icon-trash 
/       Delete
/     %br
/     = link_to({:action => 'edit', :id => shot.id})do
/       %i.icon-cog
/       Edit