.triple-margin-bottom.full-width.inline-block
	.row
		.span6
			.page-header
				.media
					=link_to user, :class=>"pull-left" do
						%img.avatar-lg{:src=>"#{user.avatar.url(:medium)}"}
					.media-body
						=link_to user do
							%h3.media-heading 
								=user.name
							%p
								= user.shots.count
								shots
								= user.followers.count
								Followers
		.span6
			.double-margin-bottom
				-user.shots.limit(3).each do |u|
					= render :partial => "shared/shot_list", :locals => {:c => u} 
