.page-header
	.row
		.span6
			.media.margin-bottom
				=link_to user, :class=>"pull-left" do
					%img.avatar-lg{:src=>"#{user.avatar.url(:medium)}"}
				.media-body
					=link_to user do
						%h3.media-heading 
							=user.name
						%p
							= user.shots.count
							shots
							= user.followers.count
							Followers
			%p.muted
				=user.bio
		.span6
			.double-margin-bottom.border-left.padding-left
				-if user.shots.count == 0
					%p.muted
						No Klipz yet...
				-else
					-user.shots.limit(3).each do |u|
						= render :partial => "shared/shot_list", :locals => {:c => u} 
					-if user.shots.count > 3
						=link_to user do
							View more
