.container.double-padding-top
  .row
    .span12
      .hero-unit
        %h2.margin-bottom
          Welcome to KLIPZ
        %p
          A musical collaboration community with a simple goal, to connect musical ideas and people 
        %a.btn.btn-large.btn-primary{:href=>"#{new_user_registration_path}"}
          Sign Up
        = link_to (new_user_session_path) , :class=>'btn btn-large' do
          Login
      .row
      -@shots.in_groups_of(4,false) do |s|
        .row
          -s.each do |c| 
            = render :partial => 'shared/shot_thumb', :locals => {:c => c}
      = will_paginate @shots 