/ %h3 Home
/ - @users.each do |user|
/   %p
/     User: #{link_to user.name, user}
/   %p
/     = user.id
.hero-unit
  %h2.margin-bottom
    Welcome to g-roovy
  %p
    A musical collaboration community with a simple goal, to connect musical ideas and people 
  %a.btn.btn-large.btn-primary{:href=>"#{new_user_registration_path}"}
    Sign Up
  = link_to (new_user_session_path) , :class=>'btn btn-large' do
    Login
.row
= render :partial => 'shared/shot_thumb', :locals => {:shots => @shots}