/ %h3 Home
/ - @users.each do |user|
/   %p
/     User: #{link_to user.name, user}
/   %p
/     = user.id
.hero-unit
  %h2.margin-bottom
    Welcomt to g-roovy
  %p
    This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  %a.btn.btn-large.btn-primary{:href=>"#{new_user_registration_path}"}
    Sign Up
  = link_to (new_user_session_path) , :class=>'btn btn-large' do
    Login