.container.double-padding-top
	.row
		.span12
			.row
				.span9
					.page-header
						%h1
							About
					%p
						Klip Collective was born out of the simple notion that ideas and music generally start from a spark or in our case a "Klip" of inspiration. Unless your Beethoven your probably not sitting in your room writing masterpiece after masterpiece all at once, your probably experimenting with ideas and rearranging sections to find the sound and feeling your looking for. We bet even Beethoven had some granularity to his composition process. Klipz is intended for people like you, to enable you to upload those sparks in the form of a Klip and collaboratively receive ideas, motivation and inspiration from the Klipz community. We hope you enjoy sharing your Klipz and make better music everyday because of it.
				.span3

			.row
				.span12			
					.row
						.span9
							%p
								%strong
									The Klipz Team

								.well
									.row
										.span9
											.row
												.span1
													=image_tag("Kyle-CEO.jpg", :class => "img-rounded", :width => 140 , :height => 140)
												.span7
													%h3.half-margin-bottom
														%strong	
															Kyle Hamlin
													%p
														Founder
													%p
														Kyle hails from Colorado but lives in New York City. He has always had a long standing interest in music but more with it's abaility to connect people and bring joy.
													%p
														Kyle is a trained Statistican by trade but has always had a love for technology a design. Klipz has been an amazing journey in exploring these two area and making them come alive.
								.well
									.row
										.span9
											.row
												.span1
													=image_tag("Alex-CEO1.jpg", :class => "img-rounded", :width => 140 , :height => 140)
												.span7
													%h3.half-margin-bottom
														%strong
															Alex Lauderdale
													%p
														Founder
													%p
														Alex is UI designer with a passion for art and a love of all things web. 
					
						.span3
						