.container.double-padding-top
	.row
		.span12
			.row
				.span9
					%h1
						About Us
					.well
						.row
							.span12
								.row
									.span3
										=image_tag("Kyle-CEO.jpg", :class => "img-rounded", :width => 140 , :height => 140)
										%h3.no-margin-bottom
											Kyle Hamlin
										%p
											Founder and CEO
									.span6
										%p
											Bio Stuff
					.well
						.row
							.span12
								.row
									.span3
										=image_tag("Alex-CEO.jpg", :class => "img-rounded", :width => 140 , :height => 100)
										%h3.no-margin-bottom
											Alex Lauderdale
										%p
											Founder and CEO
									.span6
										%p
											Alex is a gental bunny rabbit that enjoys hopping through the forest and eating mushrooms and listening to the grateful dead
					.well
						.row
							.span12
								.row
									.span3
										=image_tag("Arnold.jpg", :class => "img-rounded", :width => 140 , :height => 140)
										%h3.no-margin-bottom
											Arnold Schwarzenegger
										%p
											Lead protein chugging iron ripping scientist
									.span7
										%p
											I like pumping iron, smoking cigars and pumping MORE IRON!
					
				.span3
					%h2
						What's it all about?
					%p
						Klip Collective was born out of the simple notion that ideas and music generally start from a spark or in our case a "Klip" of inspiration. Unless your Beethoven your probably not sitting in your room writing masterpiece after masterpiece all at once, your probably experimenting with ideas and rearranging sections to find the sound and feeling your looking for. We bet even Beethoven had some granularity to his composition process. Klipz is intended for people like you, to enable you to upload those sparks in the form of a Klip and collaboratively receive ideas, motivation and inspiration from the Klipz community. We hope you enjoy sharing your Klipz and make better music everyday because of it.