.container.double-padding-top
	.row
		.span12
			.row
				.span9
					%h1
						About Us
					.well
						.row
							.span12
								.row
									.span3
										=image_tag("Kyle-CEO.jpg", :class => "img-rounded", :width => 140 , :height => 140)
										%h3.no-margin-bottom
											Kyle Hamlin
										%p
											Founder and CEO
									.span6
										%p
											Bio Stuff
					.well
						.row
							.span12
								.row
									.span3
										=image_tag("Alex-CEO.jpg", :class => "img-rounded", :width => 140 , :height => 140)
										%h3.no-margin-bottom
											Alex Lauderdale
										%p
											Founder and CEO
									.span6
										%p
											Alex is a gental bunny rabbit that enjoys hopping through the forest and eating mushrooms and listening to the grateful dead
					.well
						.row
							.span12
								.row
									.span3
										=image_tag("Arnold.jpg", :class => "img-rounded", :width => 140 , :height => 140)
										%h3.no-margin-bottom
											Arnold Schwarzenegger
										%p
											Lead protein chugging iron ripping scientist
									.span7
										%p
											I like pumping iron, smoking cigars and pumping MORE IRON!
					
				.span3
					%h2
						Other Fun Info
					%p
						Hello this is side bar info