/footer
%p
	Share your music!

%p1

	%a.twitter-share-button.btn.btn-primary{"data-related" => "YourUserNameOnTwitter", "data-size" => "large", "data-text" => "I just tweeted about this site!", "data-via" => "YourUserNameOnTWitter", :href => "https://twitter.com/share"} Tweet

%p2	

	%g:plusone.btn.btn-danger{:annotation => "inline"} Google +1

.btn
	%a.fb-like{"data-action" => "like", "data-colorscheme" => "light", "data-layout" => "standard", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"} Like us
	%i.icon-thumbs-up 
