/footer
%footer.footer
	.container
		.row
			.span12
				.row
					.span4
						=image_tag("logo.png", :class => "img" , :width => 90 , :height => 120)
						%p
							Social Composing
						%p.muted
							Klipz is intended for people like you, to enable you to receive motivation and inspiration from the Klipz community. We hope you enjoy sharing your Klipz and make better music everyday because of it.
					.span4
						%h5
							Company
						%ul.unstyled.no-margin-top
							%li
								%a{ :href => "/site/about"}
									About
							%li
								%a{ :href => "mailto: klipcollectiveinc@gmail.com"}
									Feedback? 
					.span4
.sub-footer
	.container
		.row
			.span12
				%p.text-center
					Copyright ©
					2013 - 
					=Time.now.year
					Klip Collective. All Klipz © there respective owners.
