/footer
%p
	Share your music!

%p1

	%a.twitter-share-button.btn.btn-primary{"data-related" => "YourUserNameOnTwitter", "data-size" => "large", "data-text" => "I just tweeted about this site!", "data-via" => "YourUserNameOnTWitter", :href => "https://twitter.com/share"} Tweet

%p2	

	%a.fb-like.btn.btn-info{"data-action" => "like", "data-colorscheme" => "light", "data-layout" => "standard", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"} Like us on facebook
	%i.icon-thumbs-up

%p3

	%g:plusone.btn.btn-danger{:annotation => "inline"} google +1

%br
%br
	Copyright ©
	=Time.now.year
	Groovy Productions

